body{
background: rgb(118, 176, 181);
font-family: sans-serif, arial;


}
.head{
font-size: 50px;
text-align: center;
border:5px solid black;
margin: auto;
background: rgb(217, 183, 183);
font-style: italic;
width:fit-content;

}

.image-chinese,.image-beef,.image-burger{

    margin: 20px;
    border:5px white solid;



}

.card1,.card2,.card3{

    background: black;
    color:white;
    text-align: center;
    padding: 30px;
    width: 600px;
    margin: 20px auto;    
    
    }
.ingredients{
    width: 500px;
}

.chinese-page, .burger-page, .beef-page {
    margin:20px;
    border:5px white solid;
    width:500px;
    padding:5px;
    text-align: center;
    float:right;
 }


button{
    width: 300px;
    font-size:20px;
    text-align: center;
    background: rgb(159, 133, 133);
    color: white;
    margin: 30px;

}


